*{
    padding: 0;
    margin: 0;
}

header{
    padding: 20px 0px;
}
main, header{
    max-width: 1100px;
    margin: 0 auto;
}
.navBar{
    display: flex;
    justify-content: space-between;

}
.navBar-log h3{
    font-size: 25px;
}

.navBar-link ul{
    display: flex;
}
.navBar-link ul li a, .fa-solid{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 10px;
    text-transform: capitalize;
}
.navBar-link ul li {
    list-style: none;
}
/* navbar section end */
/* bannar section start */
.bannar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannar-con h3{
    font-size: 40px;
    margin-top: -10px;
}

.bannar-img img{
    width: 100%;
    border: 2px solid gainsboro;
    border-radius: 100%;
    padding: 7px;
}

.bannar-con button{
    margin-top: 20px;
    background-color: #E02C6D;
    color: white;
    padding: 14px 28px;
    border-radius: 50px;
    border: none;
    cursor: pointer;

}
.bannar-con button, .fa-solid{
    color: white;
   
}
.com-logo-inner{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-top: 90px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 15px;
}

/* bannar section end */
/* popular collection section start */
.popular{
    margin-top: 50px;

}
.popular-tilte {
    text-align: center;
    margin-top: 30px;
}
.popular-box img{
    width: 100%;
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}
.popular-box{
    padding: 20px;
    box-shadow: 2px 3px 3px 2px rgb(214, 197, 197);
}
/* popular section end here */
/* prodects section start */
.products{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 40px;
}
.products-right h3{
    font-size: 38px;
    margin-bottom: 10px;
}
.products-right p{
    margin-bottom: 10px;
}
.products-right button{
    background-color: #E02C6D;
    color: white;
    padding: 14px 20px;
    text-transform: capitalize;
    border: none;
}
/* products section end */
/* footer section start */

.footerr{
    background-color: black;
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    color: white;
    
    padding: 20px;
}
.footerr h3{
    line-height: 2;

}

.footerr p{
    margin-top:20px;
    font-size: 15px;
    line-height: 2;
}



















/* responsive style here */
@media screen and (max-width:576px){
    .navBar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
    .navBar-log h3{
        font-size: 25px;
        text-align: center;
    }
    .navBar-link ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .bannar{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .bannar-con h3{
        font-size: 23px;
        margin-top: -10px;
    }
    .com-logo-inner{
        display: grid;
        grid-template-columns: repeat(4,1fr);
       gap: 15px;
        border-top: 1px solid gainsboro;
        border-bottom: 1px solid gainsboro;
        padding: 15px;
    }
    .popular-collection{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
    }
    .products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
       
    }

}