*{
    padding: 0;
    margin: 0;
}
header{
    padding: 20px 0px;
}
main, header{
    max-width: 1100px;
    margin: 0 auto;
}
.navBar{
    display: flex;
    justify-content: space-between;

}
.navBar-log h3{
    font-size: 25px;
}

.navBar-link ul{
    display: flex;
}
.navBar-link ul li a, .fa-solid{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 10px;
    text-transform: capitalize;
}
.navBar-link ul li {
    list-style: none;
}
/* navbar section end */
/* bannar section start */
.bannar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bannar-con h3{
    font-size: 40px;
    margin-top: -10px;
}

.bannar-img img{
    width: 100%;
    border: 2px solid gainsboro;
    border-radius: 100%;
    padding: 7px;
}

.bannar-con button{
    margin-top: 20px;
    background-color: #E02C6D;
    color: white;
    padding: 14px 28px;
    border-radius: 50px;
    border: none;
    cursor: pointer;

}
.bannar-con button, .fa-solid{
    color: white;
   
}




/* responsive style here */
@media screen and (max-width:576px){
    .navBar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
    .navBar-log h3{
        font-size: 25px;
        text-align: center;
    }
    .navBar-link ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .bannar{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }
    .bannar-con h3{
        font-size: 23px;
        margin-top: -10px;
    }

}